.ui-card.ui-card-full
  .ui-card-header
    .ui-card-header-main
      .ui-card-title= depot.name
      %span.depot-balance= display_amount_with_symbol(depot.cached_total_cents, depot.currency_symbol)
    .ui-card-header-secondary
      = link_to "Agregar Movimiento", new_depot_movement_path(depot), remote: true, class: "ui-button ui-button-primary"
  .ui-card-content
    .ui-card-body
      - if movements.present?
        .ui-table.movements-list
          .ui-table-row.header
            .ui-table-column Monto
            .ui-table-column Fecha
            .ui-table-column Descripción
            .ui-table-column Acciones
          - movements.each do |movement|
            .ui-table-row.movement{ data: { id: movement.id } }
              .ui-table-column= display_amount_with_symbol(movement.total_cents, currency.symbol)
              .ui-table-column= I18n.l movement.date
              .ui-table-column Nota
              .ui-table-column= link_to 'Eliminar', movement_path(movement), method: :delete, class: "depot-movement-delete", data: { confirm: 'Estás seguro que querés eliminar el movimiento?' }, remote: true
      - else
        %p Aún no tenés ningún movimiento.
