- js_controller = 'depots--movements--modal-form'

%input.ui-modal-check{ type: "checkbox", name: "depot_movement_form_modal", id: "depot_movement_form_modal", checked: "checked" }
.ui-modal-container.depot-movement-modal-form{ "data-controller" => js_controller }
  .ui-modal-medium
    .ui-modal-head
      %label.ui-modal-head-close{ for: "depot_movement_form_modal" }
    = form_for movement, remote: true do |f|
      .ui-modal-body
        - if movement.errors.any?
          .ui-alert.ui-alert-danger
            %ul
              - movement.errors.full_messages.each do |error_message|
                %li= error_message

        .ui-field
          = f.label :date, class: "ui-label"
          = f.text_field :date, data: { "target": "#{js_controller}.dateInput" }, class: "ui-input"
        .ui-field
          = f.label :total, class: "ui-label"
          = f.text_field :total, value: movement.total || 0, data: { "target": "#{js_controller}.totalInput" }, class: "ui-input"
        .ui-field
          = f.label :description, class: "ui-label"
          %em opcional
          = f.text_field :description, class: "ui-input"
      .ui-modal-foot
        = f.submit "Guardar", data: { "disable-with": "Guardando..." }, class: "ui-button ui-button-primary"
