%ol.ui-breadcrumb
  %li= link_to "Movimientos", movements_path
  %li= depot.name

.ui-page-content
  .ui-card.ui-card-full
    .ui-card-header.depot-movements-header
      .ui-card-header-main
        .ui-card-title= depot.name
        %span.depot-balance= display_amount_with_symbol(depot.cached_total_cents, depot.currency_symbol)
      .ui-card-header-secondary.card-actions
        = link_to depot_path(depot), class: "ui-button ui-button-primary outline" do
          %i.icon-wallet
          %span Ver Billetera
        = link_to new_movement_path(depot_id: depot), remote: true, class: "ui-button ui-button-primary" do
          %i.icon-plus
          %span Agregar Movimiento
    .ui-card-content
      .ui-card-body#movements-list-component-placeholder
        = render(Movement::ListComponent.new(movements: movements))
