.error-placeholder
  = svg_tag "404"
  %h1.error-title
    %i.icon-notification
    Contenido no encontrado
  .ui-brand
    = link_to root_path, class: "ui-brand-link" do
      %span Grown
      %i.icon-jump
      %span s
  %p.error-description
    La sección a la que intentás acceder pareciera no existir. Si llegaste acá editando la url manualmente probablemente hayas copiado mal la ruta.
    Si llegaste mediante una acción en la aplicación, por favor reportá el error así lo solucionamos cuanto antes!
  .error-actions
    = link_to bugs_path, class: "ui-button ui-button-danger outline" do
      %i.icon-bug
      Reportar error
    = link_to root_path, class: "ui-button ui-button-primary" do
      %i.icon-home
      Volver a Inicio
    = link_to suggestions_path, class: "ui-button ui-button-info outline" do
      %i.icon-bug
      Hacer sugerencia
