.error-placeholder
  = svg_tag "qa"
  %h1.error-title
    %i.icon-notification
    Los datos ingresados no son válidos
  .ui-brand
    = link_to root_path, class: "ui-brand-link" do
      %span Grown
      %i.icon-jump
      %span s
  %p.error-description
    Hay datos que ingresaste que son incorrectos y no pudimos continuar con tu operación.
    Por favor, si realmente creés que tu ingreso era correcto reportá el error y contanos que hiciste exactamente así lo solucionamos.
  .error-actions
    = link_to bugs_path, class: "ui-button ui-button-danger outline" do
      %i.icon-bug
      Reportar error
    = link_to root_path, class: "ui-button ui-button-primary" do
      %i.icon-home
      Volver a Inicio
    = link_to suggestions_path, class: "ui-button ui-button-info outline" do
      %i.icon-bug
      Hacer sugerencia
