- js_controller = 'depots--modal-form'

%input.ui-modal-check{ type: "checkbox", name: "depot_form_modal", id: "depot_form_modal", checked: "checked" }
.ui-modal-container.depot-modal-form{ "data-controller" => js_controller }
  .ui-modal-medium
    .ui-modal-head
      %label.ui-modal-head-close{ for: "depot_form_modal" }
    = form_for depot, remote: true do |f|
      .ui-modal-body
        - if depot.errors.any?
          %p= depot.errors.full_messages

        = f.label :name
        = f.text_field :name
        = f.label :currency_id
        = f.select :currency_id, options_for_select(currencies.map { |c| [c.name, c.id] }, depot.currency_id), { include_blank: "Moneda" }, data: { "target": "#{js_controller}.currencySelect" }
      .ui-modal-foot
        = f.submit "Guardar", data: { "disable-with": "Guardando..." }, class: "ui-button ui-button-primary"
