.ui-page-header
  %h1 Mis Billeteras

  = link_to "Agregar Billetera", new_depot_path, remote: true, class: "ui-button ui-button-primary"
  
.ui-page-content
  #depots-list-placeholder.depots-list
    .ui-card.dashboard-balance
      .ui-card-content
        .ui-card-title Resumen del último balance
        .ui-card-subtitle= "Generado el #{l(@consolidated.max_date, format: :short)}" if @consolidated.max_date
        .ui-card-body
          %span.depot-balance= display_amount_with_symbol(@consolidated.in_cents, "USD")

          = render(DifferenceComponent.new(@consolidated.difference_in_cents)) do
            = display_amount_with_symbol(@consolidated.difference_in_cents, "USD")
      .ui-card-footer
        = async_loader("user-totals-card-graph", charts_users_consolidated_balance_path(format: :js))

    - if depots.present?
      = render(Depot::CardComponent.with_collection(depots))
    - else
      %p.no-depots Aún no tenés ninguna billetera.
