%ol.ui-breadcrumb
  %li= link_to "Billeteras", depots_path
  %li= depot.name

.ui-page-header
  %h1= depot.name

  = link_to depot_movements_path(depot), class: "ui-button ui-button-primary outline" do
    %i.icon-tab
    %span Ver Movimientos

.ui-page-content
  .depot-dashboard
    .ui-card.depot-card-balance
      .ui-card-content
        .ui-card-title Balance
        .ui-card-body
          %span.depot-balance= display_amount_with_symbol(depot.cached_total_cents, depot.currency_symbol)

    - if depot.latest_daily_balance && depot.rate_id
      .ui-card.depot-card-rated-balance
        .ui-card-content
          .ui-card-title= "Equivalente"
          .ui-card-body
            %span.depot-balance= display_amount_with_symbol(depot.latest_daily_balance.cached_depot_total_by_rate_in_cents, depot.rate.to_currency.symbol)

      .ui-card.rate-card-value
        .ui-card-content
          .ui-card-title= depot.rate.name
          .ui-card-body
            %span.depot-balance= display_raw_amount_with_symbol(depot.latest_daily_balance.informative_rate_value, depot.latest_daily_balance.informative_rate_currency.symbol)

    .ui-card.depot-card-graph
      .ui-card-content
        .ui-card-title Evolución del balance
        .ui-card-body
          = async_loader("depot-card-graph", charts_daily_balances_path(depot, format: :js))
