- async_card_controller = "async-card"

.ui-page-header
  %h1= depot.name

.ui-page-content
  .depot-dashboard
    .ui-card.depot-card-balance
      .ui-card-content
        .ui-card-title Balance
        .ui-card-body
          %span.depot-balance= display_amount_with_symbol(depot.cached_total_cents, depot.currency_symbol)

    - if depot.latest_daily_balance && depot.rate_id
      .ui-card.depot-card-rated-balance
        .ui-card-content
          .ui-card-title= "Equivalente en #{depot.rate.name}"
          .ui-card-body
            %span.depot-balance= display_amount_with_symbol(depot.latest_daily_balance.cached_depot_total_by_rate_in_cents, depot.rate.to_currency.symbol)

      .ui-card.rate-card-value
        .ui-card-content
          .ui-card-title= depot.rate.name
          .ui-card-body
            %span.depot-balance= display_raw_amount_with_symbol(depot.latest_daily_balance.absolute_rate_value, depot.currency.symbol)

    .ui-card.depot-card-graph
      %div{ "data-controller" => async_card_controller, "data-#{async_card_controller}-url" => "url-to-fetch" }
