%input.ui-modal-check{ type: "checkbox", name: "suggestion_form_modal", id: "suggestion_form_modal", checked: "checked" }
.ui-modal-container.suggestion-modal-form
  .ui-modal-medium
    .ui-modal-head
      %label.ui-modal-head-close{ for: "suggestion_form_modal" }
    = form_for suggestion, remote: true do |f|
      .ui-modal-body
        - if suggestion.errors.any?
          .ui-alert.ui-alert-danger
            %ul
              - suggestion.errors.full_messages.each do |error_message|
                %li= error_message

        .ui-field
          = f.label :description, class: "ui-label"
          %em Por favor, ingresá todos los detalles que puedas sobre tu sugerencia.
          = f.text_area :description, class: "ui-input"
      .ui-modal-foot
        = f.submit "Guardar", data: { "disable-with": "Guardando..." }, class: "ui-button ui-button-primary"
