!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title Grownis
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    %link{ href: "https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;300;400;600;700;800;900&display=swap", rel: "stylesheet" }
    %script{:src => "https://npmcdn.com/flatpickr/dist/l10n/es.js"}
  %body.ui-body
    .ui-brand
      = link_to root_path, class: "ui-brand-link" do
        %span Grown
        %i.icon-jump
        %span s
    %header.ui-header
      .ui-header-info
      .ui-header-actions
        = link_to "Cerrar Sesión", destroy_user_session_path, method: :delete
    %aside.ui-sidebar
      = check_box_tag "ui-menu-check", false, false
      = label_tag "ui-menu-check", class: "ui-menu-toggle" do
        %i.icon-menu
        %span Secciones
      %ul.ui-sidebar-menu
        %li.ui-sidebar-link-category Menu
        %li.ui-sidebar-link
          = link_to depots_path, class: active_class_for(controller: :depots) do
            %i.icon-wallet
            %p Billeteras
        %li.ui-sidebar-link
          = link_to movements_path, class: active_class_for(controller: :movements, action: :index) do
            %i.icon-tab
            %p Movimientos
        %li.ui-sidebar-link
          = link_to rates_path, class: active_class_for(controller: :rates) do
            %i.icon-chart-growth
            %p Precios
        %li.ui-sidebar-link
          = link_to reports_profits_path, class: active_class_for(controller: :profits) do
            %i.icon-pie-chart2
            %p Reporte
        %li.ui-sidebar-link-category Soporte
        %li.ui-sidebar-link
          = link_to suggestions_path, class: active_class_for(controller: :suggestions, action: :index) do
            %i.icon-bubble
            %p Sugerencias
        %li.ui-sidebar-link
          = link_to bugs_path, class: active_class_for(controller: :bugs, action: :index) do
            %i.icon-bug
            %p Reportar error
    %section.ui-main
      .ui-page
        - if alert
          %p.ui-alert.ui-alert-danger= alert
        = yield
    #ui-modal-placeholder
