!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Grownis2
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    %link{ href: "https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;300;400;600;700;800;900&display=swap", rel: "stylesheet" }
  %body.ui-body
    .ui-brand
      = link_to "Grownis", root_path, class: "ui-brand-link"
    %header.ui-header
      = link_to "Salir", destroy_user_session_path, method: :delete
    %aside.ui-sidebar
      %ul
        %li.ui-sidebar-link-category Menu
        %li.ui-sidebar-link
          = link_to depots_path do
            %i.icon-wallet
            %p Billeteras
    %section.ui-main
      .ui-page
        - if notice || alert
          %p.notice= notice
          %p.alert= alert
        = yield
    #ui-modal-placeholder
